In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
import os

In [2]:
# 数据路径
file_path = "D:\ArcGISProjects\syraster\Rtable_result"
os.listdir(file_path)

['result.xlsx',
 'schema.ini',
 'SY_POINT_ASP_TABLE.csv',
 'SY_POINT_ASP_TABLE.csv.xml',
 'SY_POINT_DL_TABLE.csv',
 'SY_POINT_DL_TABLE.csv.xml',
 'SY_POINT_ELE_TABLE.csv',
 'SY_POINT_ELE_TABLE.csv.xml',
 'SY_POINT_MERGES.csv',
 'SY_POINT_PRE_TABLE.csv',
 'SY_POINT_PRE_TABLE.csv.xml',
 'SY_POINT_SLOP_TABLE.csv',
 'SY_POINT_SLOP_TABLE.csv.xml',
 'SY_POINT_TMP_TABLE.csv',
 'SY_POINT_TMP_TABLE.csv.xml']

In [3]:
# 构建表
data_pre = pd.read_csv(os.path.join(file_path,"SY_POINT_PRE_TABLE.csv"))
data_tmp = pd.read_csv(os.path.join(file_path,"SY_POINT_TMP_TABLE.csv"))
data_ele = pd.read_csv(os.path.join(file_path,"SY_POINT_ELE_TABLE.csv"))
data_asp = pd.read_csv(os.path.join(file_path,"SY_POINT_ASP_TABLE.csv"))
data_slope = pd.read_csv(os.path.join(file_path,"SY_POINT_SLOP_TABLE.csv"))
data_dltb = pd.read_csv(os.path.join(file_path,"SY_POINT_DL_TABLE.csv"))
data_dltb.sample()

     OID_  Join_Count  TARGET_FID    PH           x          y  DLBM DLMC
446   447           1         447  5.36  107.028772  28.319621  0103   旱地

In [19]:
data_ele

      OID_  SY_POINT           X          Y  SY_DEM_5_Band_1
0        1         4  107.063560  27.856010       908.099976
1        2        20  107.040060  27.885910       858.599976
2        3        91  107.061020  27.848390       948.199951
3        4       107  107.018530  27.849340       831.400024
4        5       119  107.057112  27.857978       890.299988
...    ...       ...         ...        ...              ...
7488  7489      2970  107.098695  28.481185      1348.699951
7489  7490      2971  107.102036  28.480967      1263.900024
7490  7491      2972  107.105906  28.479539      1295.900024
7491  7492      7057  107.089582  28.490726      1357.199951
7492  7493      7059  107.113341  28.479924      1214.300049

[7493 rows x 5 columns]

In [12]:
merged_df = pd.concat([data_pre.set_index("SY_POINT"),data_tmp.set_index("SY_POINT"),data_asp.set_index("SY_POINT"),data_slope.set_index("SY_POINT"),data_ele.set_index("SY_POINT"),data_dltb.set_index("TARGET_FID")],axis=1)
merged_df

,OID_,X,Y,pre_2022_mean_Band_1,OID_,X,Y,tmp_2022_mean_Band_1,OID_,X,...,X,Y,SY_DEM_5_Band_1,OID_,Join_Count,PH,x,y,DLBM,DLMC
1,1,107.140420,28.454940,873.166687,1,107.140420,28.454940,142.083328,6943,107.140420,...,107.140420,28.454940,1222.400024,1,1,4.78,107.140420,28.454940,0103,旱地
2,2,107.004920,28.233230,837.500000,2,107.004920,28.233230,137.250000,5203,107.004920,...,107.004920,28.233230,1240.599976,2,1,4.34,107.004920,28.233230,0103,旱地
3,3,107.427614,28.222543,857.833313,3,107.427614,28.222543,151.166672,6006,107.427614,...,107.427614,28.222543,992.099976,3,1,5.83,107.427614,28.222543,0101,水田
4,4,107.063560,27.856010,807.666687,4,107.063560,27.856010,157.416672,1,107.063560,...,107.063560,27.856010,908.099976,4,1,7.30,107.063560,27.856010,0101,水田
5,5,107.000850,28.187500,820.416687,5,107.000850,28.187500,151.166672,3887,107.000850,...,107.000850,28.187500,992.799988,5,1,4.12,107.000850,28.187500,0103,旱地
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7489,7489,107.449278,28.010001,849.500000,7489,107.449278,28.010001,144.666672,2563,107.449278,...,107.449278,28.010001,1078.599976,7489,1,6.30,107.449278,28.010001,1202,设施农用地
7490,7490,107.452550,28.054348,846.750000,7490,107.452550,28.054348,150.166672,3839,107.452550,...,107.452550,28.054348,911.599976,7490,1,6.90,107.452550,28.054348,0103,旱地
7491,7491,107.452868,28.070184,843.000000,7491,107.452868,28.070184,152.416672,3840,107.452868,...,107.452868,28.070184,825.700012,7491,1,7.03,107.452868,28.070184,0101,水田
7492,7492,107.453977,28.088211,848.250000,7492,107.453977,28.088211,151.416672,3841,107.453977,...,107.453977,28.088211,877.000000,7492,1,7.25,107.453977,28.088211,0101,水田
7493,7493,107.439513,28.059979,840.000000,7493,107.439513,28.059979,153.333328,3842,107.439513,...,107.439513,28.059979,790.700012,7493,1,6.73,107.439513,28.059979,0103,旱地

In [13]:
# 检查缺值
missing_values = merged_df.isnull().sum()
missing_values

OID_                    0
X                       0
Y                       0
pre_2022_mean_Band_1    0
OID_                    0
X                       0
Y                       0
tmp_2022_mean_Band_1    0
OID_                    0
X                       0
Y                       0
SY_ASP_5_Band_1         1
OID_                    0
X                       0
Y                       0
SY_SLOP_5_Band_1        1
OID_                    0
X                       0
Y                       0
SY_DEM_5_Band_1         0
OID_                    0
Join_Count              0
PH                      0
x                       0
y                       0
DLBM                    0
DLMC                    0
dtype: int64

In [14]:
# 删除有缺失值的行
merged_df.dropna(inplace=True)
missing_values = merged_df.isnull().sum()
missing_values

OID_                    0
X                       0
Y                       0
pre_2022_mean_Band_1    0
OID_                    0
X                       0
Y                       0
tmp_2022_mean_Band_1    0
OID_                    0
X                       0
Y                       0
SY_ASP_5_Band_1         0
OID_                    0
X                       0
Y                       0
SY_SLOP_5_Band_1        0
OID_                    0
X                       0
Y                       0
SY_DEM_5_Band_1         0
OID_                    0
Join_Count              0
PH                      0
x                       0
y                       0
DLBM                    0
DLMC                    0
dtype: int64

In [15]:
merged_df.columns

Index(['OID_', 'X', 'Y', 'pre_2022_mean_Band_1', 'OID_', 'X', 'Y',
       'tmp_2022_mean_Band_1', 'OID_', 'X', 'Y', 'SY_ASP_5_Band_1', 'OID_',
       'X', 'Y', 'SY_SLOP_5_Band_1', 'OID_', 'X', 'Y', 'SY_DEM_5_Band_1',
       'OID_', 'Join_Count', 'PH', 'x', 'y', 'DLBM', 'DLMC'],
      dtype='object')

In [18]:
len(merged_df)

7492

In [19]:
result_df=merged_df[['X','Y','pre_2022_mean_Band_1','tmp_2022_mean_Band_1','SY_ASP_5_Band_1','SY_SLOP_5_Band_1','SY_DEM_5_Band_1','DLMC','PH']]

,X,X,X,X,X,Y,Y,Y,Y,Y,pre_2022_mean_Band_1,tmp_2022_mean_Band_1,SY_ASP_5_Band_1,SY_SLOP_5_Band_1,SY_DEM_5_Band_1,DLMC,PH
1,107.140420,107.140420,107.140420,107.140420,107.140420,28.454940,28.454940,28.454940,28.454940,28.454940,873.166687,142.083328,311.184540,6.067848,1222.400024,旱地,4.78
2,107.004920,107.004920,107.004920,107.004920,107.004920,28.233230,28.233230,28.233230,28.233230,28.233230,837.500000,137.250000,41.932869,11.214284,1240.599976,旱地,4.34
3,107.427614,107.427614,107.427614,107.427614,107.427614,28.222543,28.222543,28.222543,28.222543,28.222543,857.833313,151.166672,325.007690,6.959332,992.099976,水田,5.83
4,107.063560,107.063560,107.063560,107.063560,107.063560,27.856010,27.856010,27.856010,27.856010,27.856010,807.666687,157.416672,315.000000,3.237762,908.099976,水田,7.30
5,107.000850,107.000850,107.000850,107.000850,107.000850,28.187500,28.187500,28.187500,28.187500,28.187500,820.416687,151.166672,309.806030,17.349291,992.799988,旱地,4.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7489,107.449278,107.449278,107.449278,107.449278,107.449278,28.010001,28.010001,28.010001,28.010001,28.010001,849.500000,144.666672,341.567383,5.419226,1078.599976,设施农用地,6.30
7490,107.452550,107.452550,107.452550,107.452550,107.452550,28.054348,28.054348,28.054348,28.054348,28.054348,846.750000,150.166672,121.263115,9.301414,911.599976,旱地,6.90
7491,107.452868,107.452868,107.452868,107.452868,107.452868,28.070184,28.070184,28.070184,28.070184,28.070184,843.000000,152.416672,122.242317,21.019365,825.700012,水田,7.03
7492,107.453977,107.453977,107.453977,107.453977,107.453977,28.088211,28.088211,28.088211,28.088211,28.088211,848.250000,151.416672,101.886757,5.544981,877.000000,水田,7.25
7493,107.439513,107.439513,107.439513,107.439513,107.439513,28.059979,28.059979,28.059979,28.059979,28.059979,840.000000,153.333328,310.913727,8.467508,790.700012,旱地,6.73

In [28]:
result_df.columns

Index(['X', 'X', 'X', 'X', 'X', 'Y', 'Y', 'Y', 'Y', 'Y',
       'pre_2022_mean_Band_1', 'tmp_2022_mean_Band_1', 'SY_ASP_5_Band_1',
       'SY_SLOP_5_Band_1', 'SY_DEM_5_Band_1', 'DLMC', 'PH'],
      dtype='object')

,X,X,X,X,X,Y,Y,Y,Y,Y,pre_2022_mean_Band_1,tmp_2022_mean_Band_1,SY_ASP_5_Band_1,SY_SLOP_5_Band_1,SY_DEM_5_Band_1,DLMC,PH
1,107.140420,107.140420,107.140420,107.140420,107.140420,28.454940,28.454940,28.454940,28.454940,28.454940,873.166687,142.083328,311.184540,6.067848,1222.400024,旱地,4.78
2,107.004920,107.004920,107.004920,107.004920,107.004920,28.233230,28.233230,28.233230,28.233230,28.233230,837.500000,137.250000,41.932869,11.214284,1240.599976,旱地,4.34
3,107.427614,107.427614,107.427614,107.427614,107.427614,28.222543,28.222543,28.222543,28.222543,28.222543,857.833313,151.166672,325.007690,6.959332,992.099976,水田,5.83
4,107.063560,107.063560,107.063560,107.063560,107.063560,27.856010,27.856010,27.856010,27.856010,27.856010,807.666687,157.416672,315.000000,3.237762,908.099976,水田,7.30
5,107.000850,107.000850,107.000850,107.000850,107.000850,28.187500,28.187500,28.187500,28.187500,28.187500,820.416687,151.166672,309.806030,17.349291,992.799988,旱地,4.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7489,107.449278,107.449278,107.449278,107.449278,107.449278,28.010001,28.010001,28.010001,28.010001,28.010001,849.500000,144.666672,341.567383,5.419226,1078.599976,设施农用地,6.30
7490,107.452550,107.452550,107.452550,107.452550,107.452550,28.054348,28.054348,28.054348,28.054348,28.054348,846.750000,150.166672,121.263115,9.301414,911.599976,旱地,6.90
7491,107.452868,107.452868,107.452868,107.452868,107.452868,28.070184,28.070184,28.070184,28.070184,28.070184,843.000000,152.416672,122.242317,21.019365,825.700012,水田,7.03
7492,107.453977,107.453977,107.453977,107.453977,107.453977,28.088211,28.088211,28.088211,28.088211,28.088211,848.250000,151.416672,101.886757,5.544981,877.000000,水田,7.25
7493,107.439513,107.439513,107.439513,107.439513,107.439513,28.059979,28.059979,28.059979,28.059979,28.059979,840.000000,153.333328,310.913727,8.467508,790.700012,旱地,6.73

In [11]:
result_df.to_csv(os.path.join(file_path,"SY_POINT_MERGES_s.csv"))